#ignore vendor folder managed by composer
vendor/

#ignore temporary files
tmp/

#ignore confituration
config/

#ignore phpunit results cache
.phpunit.result.cache

#ignore local dev IIS server file
public/web.config
